DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=root
DB_PASSWORD=

# Laravel Music Database
LARAVEL_DB_HOST=localhost
LARAVEL_DB_PORT=3306
LARAVEL_DB_NAME=
LARAVEL_DB_USER=root
LARAVEL_DB_PASSWORD=

BASE_URL=https://wikimezmur.org

REQUEST_TIMEOUT=15000
REQUEST_DELAY=1000